MODE=development
APP_PORT=8080
APP_URL=http://localhost:8080

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=username
DB_PASSWORD=password
DB_MAIN_NAME=db_main
DB_LOG_NAME=db_log
DB_MAX_OPEN_CONN=4
DB_MAX_IDLE_CONN=4

DB_CP_HOST=127.0.0.1
DB_CP_PORT=5432
DB_CP_USER=cpuser
DB_CP_PASSWORD=cppass
DB_CP_NAME=cp
DB_CP_SSLMODE=require
DB_CP_MAX_OPEN_CONN=8
DB_CP_MAX_IDLE_CONN=4

MAIL_HOSTNAME=mail.yourdomain.com
SMTP_ALLOWED_SENDER_DOMAINS=yourdomain.com

CSRF_SECRET=BASE64_32_TOKEN

SERVER_HOST=127.0.0.1
LOGIN_PORT=6900
CHAR_PORT=6121
MAP_PORT=5121
WEB_PORT=8888

STRIPE_SECRET_KEY=sk_test_123
STRIPE_WEBHOOK_SECRET=whsec_123
PAYPAL_CLIENT_ID=paypal_client_id
PAYPAL_SECRET=paypal_secret
PAYPAL_WEBHOOK_ID=paypal_webhook_id
NOWPAYMENTS_API_KEY=nowpayments_api_key
NOWPAYMENTS_IPN_SECRET=nowpayments_ipn_secret
