# Editor/IDE
.idea/
.vscode/

# Env
.env
.env.*
!.env.example

# Binary
*.exe

# Tools
.tools/

# Air
tmp/
build-errors.log

# Generated css by tailwind
static/css/app.css

# data (item_db.yml/lua/etc)
/data

# item images
/static/item
/static/collection
